body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    font-family: Hanken Grotesk;
}
p{
    margin: 0;
    font-size :18px;
}
.mainCard{
    display: flex;
    flex-flow: row wrap;
    margin: 30px;
    background-color:rgba(240, 240, 240, 0.596);
    border-radius: 20px;
    box-shadow: 0px 0px 60px  #1c1d1d1e;
}

.leftCard{
    color: white;
    width: 100%;
    text-align: center;
    /* border: 1px solid #5508ad; */
    display: flex;
    background:linear-gradient(0deg, hsl(241, 81%, 54%) 0%, hsl(252, 100%, 67%) 100%);    
    border-radius: 20px;
    padding : 30px 60px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.info{
    font-weight:700;
}
.rightCard{
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content:space-between;
    padding: 30px 30px;
    align-content: center;
    align-items:stretch;
}

ul{
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content:space-between ;
    justify-content: space-between;
    
}
ul li{
    margin: 10px;
    padding: 15px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 10px;
}
.resultTitle{
    margin-bottom: 40px;
    margin-top: 20px;
    color: rgb(214, 208, 208) ;
}
.valueCircle{
    display: flex;
    font-weight: 800;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    border-radius: 100%;
    background:linear-gradient(180deg,hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0) 100%);
    padding: 50px 70px ;
}
.value{
    font-size: 70px;
}
.valueRefrence{
    margin-top: 10px ;
    color: rgb(214, 208, 208) ;
}
.SummaryTitle{
    margin-bottom: 0;
}

.comment{
    color: rgb(214, 208, 208) ;
    padding-bottom:30px ;
}
button{
    padding: 12px 0px;
    color: white;
    border: 0px ;
    font-weight: bolder;
    background-color: #38385c;
    border-radius: 25px;
}
button:hover{
    background-color: rgb(106, 201, 68);
    scale: 1.05 ;
    transition: transform 280ms ease-out 50ms;
    
}
.reaction{
    background-color: #faccdf56;
}
.memory{
    background-color: #f9facc56;

}
.verbal{
    background-color: #ccfadb56;

}
.visual{
    background-color: #d6ccfa56;

}
li span{
    font-weight: bolder;
}
.reactionName{
    color: hsl(0, 100%, 67%);
}
.memoryName{
    color: hsl(39, 100%, 56%);
}
.verbalName{
    color:hsl(166, 100%, 37%);
}
.visualName{
    color:hsl(234, 85%, 45%);
}

@media screen and (max-width:375px){

    body{
        margin: 0;
        display: flex;
        flex-flow: column wrap;
        height:auto;
        align-content: stretch;
        justify-content: stretch;
    }
    .mainCard{
        display: flex;
        height: auto;
        flex-flow: row wrap;
        margin: 0px;
        padding: 0px;
        background-color:rgba(240, 240, 240, 0.596);
        border-radius: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: 0px 0px 0px  #1c1d1d1e;
    }
    .comment{
        color: rgb(214, 208, 208) ;
        padding-bottom:30px ;
    }
    
    .leftCard{
        color: white;

        text-align: center;
        /* border: 1px solid #5508ad; */
        display: flex;
        background:linear-gradient(0deg, hsl(241, 81%, 54%) 0%, hsl(252, 100%, 67%) 100%);    
        border-radius: 30px;
        padding : 0px 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .rightCard{
        
    }
   
}
@font-face{
    font-family: Hanken Grotesk;
    src: url('../font/HankenGrotesk-VariableFont_wght.ttf');
}